*{
    box-sizing: border-box;
    user-select: none;
}

.card-container{
    height: 350px;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    overflow-x: hidden;
    justify-content: space-around;
}

.card-content{
    width: 25%;
    overflow: hidden;
    margin: 1% 1%;
    flex-basis: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
}

.book-image{
    flex-basis: 60%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.book-image img{
    min-height: 60%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.book-caption{
    padding: 0 5%;
    max-height: 40%;
}

.caption{
    word-break: break-all;
}

@media screen and (max-width:1000px){
    .card-content{
        width: 40%;
    }
}