*{
    margin: 0px;
    padding: 0px;
}

.sidebar-container{
    position: fixed;
    height: 100vh;
    width: 25%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
    left: -20%;
    z-index: 2;
    background-color: #fff;
}
.active{
    left: 0%;
    margin-right: 20%;
    animation: active 0.5s ease-out;
}

.content-link{
    transition: all 0.5s ease;
}

.content-none{
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear
}

.inactive{
    animation: inactive 0.5s ease-in;
}

.sidebar-container ul li{
    list-style: none;
    line-height: 34px;
}

.navigator{
    margin-top: 25%;
    margin-left: 10%;
    cursor: pointer;
    width: max-content;
}

.navigator li{
    margin-top: 15%;
    font-weight: 600;
    font-size: 1.7em;
    transition: .15s;
}

.navigator li:hover{
    opacity: .8;
}

.avatar li{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.avatar li:first-child{
    width: 150px;
    height: 150px;
    background: url('../images/avatar.png');
    border-radius: 150px;
}

.hamburger{
    color: #424242;
    font-size: 150%;
    text-align: right;
    margin-top: 5%;
    margin-right: 7%;
}


@keyframes inactive{
    from{
        left: 0%;
    }
    to{
        left: -20%;
    }
}

@keyframes active{
    from{
        left: -20%
    }
    to{
        left: 0%;
    }
}